node_modules/
vendor/
temp-ci4/

.env
.env.*
.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/**/index.html
!writable/**/.htaccess
services/notification-service/writable/cache/*
services/notification-service/writable/debugbar/*
services/notification-service/writable/logs/*
services/notification-service/writable/session/*
services/notification-service/writable/uploads/*
!services/notification-service/writable/**/index.html
!services/notification-service/writable/**/.htaccess

*.log
.DS_Store
Thumbs.db
